*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: antiquewhite;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-110px;
    margin-top:-40px;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

form input, form button {
    padding: 10px;
}

li {
    color: black;
    cursor: pointer;
    padding: 8px;
}

.tracoLista {
    text-decoration: line-through;
}

